<!-- NAVIGATION -->
<div class="navigation d-flex align-items-center">
  <div class="w-100">
    <div class="d-flex justify-content-between">

      <div class="align-self-center">
        <div class="d-inline mx-3" routerLink="{{this.mode === 'create' ? '/constructionSites' : '/constructionSiteDetails/' + editID}}">
          <i class="far fa-arrow-left navigation-arrow"></i>
        </div>
        <div class="d-inline navigation-title">
          <span *ngIf="this.mode === 'create'">Dodavanje gradilišta</span>
          <span *ngIf="this.mode === 'edit'">Izmena gradilišta</span>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- / NAVIGATION -->
<div class="p-3">

  <form class="new-edit-form" [formGroup]="newConstructionSiteForm" (submit)="sendConstructionSiteToDB()">

    <mat-form-field>
      <input matInput placeholder="Naziv" formControlName="name" required minlength="3">
    </mat-form-field>
    <mat-error *ngIf="this.newConstructionSiteForm.get('name').hasError('required') && this.newConstructionSiteForm.get('name').touched">Polje je obavezno popuniti!</mat-error>
    <mat-error *ngIf="this.newConstructionSiteForm.get('name').hasError('minlength') && this.newConstructionSiteForm.get('name').touched">Polje mora imati barem 3 karaktera!</mat-error>
    <mat-form-field>
      <input matInput placeholder="Adresa" formControlName="address" required minlength="3">
    </mat-form-field>
    <mat-error *ngIf="this.newConstructionSiteForm.get('address').hasError('required') && this.newConstructionSiteForm.get('address').touched">Polje je obavezno popuniti!</mat-error>
    <mat-error *ngIf="this.newConstructionSiteForm.get('address').hasError('minlength') && this.newConstructionSiteForm.get('address').touched">Polje mora imati barem 3 karaktera!</mat-error>
    <mat-form-field>
      <input matInput placeholder="Datum otvaranja" [matDatepicker]="picker" formControlName="openingDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="this.newConstructionSiteForm.get('openingDate').hasError('required') && this.newConstructionSiteForm.get('openingDate').touched">Polje je obavezno popuniti!</mat-error>

    <div class="d-flex justify-content-center">
      <button mat-raised-button color="primary" class="mt-1" type="submit">Dodaj</button>
    </div>
  </form>
</div>

