<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);">
  <a class="navbar-brand p-0" routerLink="/" >
      <!-- <div>
          <p class="logoGore">ST<span>☆</span>R</p>
          <p class="logoDole"><br>computers</p>
      </div> -->
      ivGO
  </a>
  <a class="navbar-brand p-0" routerLink="/workers" >
    <!-- <div>
        <p class="logoGore">ST<span>☆</span>R</p>
        <p class="logoDole"><br>computers</p>
    </div> -->
    Radnici
</a>
<a class="navbar-brand p-0" routerLink="/constructionSites" >
  <!-- <div>
      <p class="logoGore">ST<span>☆</span>R</p>
      <p class="logoDole"><br>computers</p>
  </div> -->
  Gradilista
</a>
<a class="navbar-brand p-0" routerLink="/" >
  <!-- <div>
      <p class="logoGore">ST<span>☆</span>R</p>
      <p class="logoDole"><br>computers</p>
  </div> -->
  Nalozi
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
</nav>
