<!-- NAVIGATION -->
<div class="navigation d-flex align-items-center">
  <div class="w-100">
    <div class="d-flex justify-content-between">

      <div class="align-self-center ml-3">
        <div class="d-inline navigation-title">
          <span>Ide Vasa gradilištem offline - ivGO</span>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- / NAVIGATION -->

<div class="row mx-0 mt-2">
  <div class="col-6">
    <div class="item-block flex-column shadow" routerLink="/workers">
      <i class="fal fa-user-hard-hat fa-2x mb-1"></i>
      Radnici
    </div>
  </div>
  <div class="col-6">
    <div class="item-block flex-column shadow" routerLink="/constructionSites">
      <i class="fal fa-building fa-2x mb-1"></i>
      Gradilišta
    </div>
  </div>
  <div class="col-6" hidden>
    <div class="d-flex flex-column">
      <div class="item-block  shadow d-flex justify-content-center">
        <div class="d-flex flex-column">
          <i class="fas fa-building"></i><br />
          <i class="fas fa-building"></i>
        </div>
      </div>
    </div>
  </div>
</div>
